@import './scss/global.scss';

.oAuthLogin {
  padding: 0.25rem 1rem;
  color: rgba(0,0,0,0);
  background-color: #336699;
  transition: all 500ms linear;
  &:hover {
    color: #336699;
    background-color: #FFF;
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    
    &::after {
      content: "STUFF";
      color: rgba(255,255,255,1);
    }
  }

}

.search {

  &--button {
    background-color: #336699;
    color: #FFF;
    border: none;
    padding: 0 2%;

    &:focus {
      outline: 0;
    }
  }
}

.sort {

  &--button {
    color: #FFF;
    background-color: #336699;
    border: none;
    padding: 0 2%;

    &:focus {
      outline: 0;
    }
  }
}

.graph {

  &--button {
    color: #336699;
    border-color: #336699;
    border-width: 1px;
    border-radius: 0.5rem;
    border-style: solid;
    background-color: #FFF;
    height: 2rem;
    width: 100%;

    &:hover {
      color: #FFF;
      background-color: #336699;
    }
  }
}

.user {

  &--image {
    border-radius: 50rem;
  }
}

.tweet {
  margin: 2.5% 5%;

  &--container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    height: calc(100vh - 4.25rem);
  }
  &--columm {
    flex-direction: column;
  }
  &--row {
    display: inline-flex;
    justify-content: space-evenly;
  }
  &--bar {
    height: 4rem;
    width: 100%;
    align-content: center;
    padding: 0.5rem 1rem 0.5rem 65%;
    background-color: #336699;
  }
  &--search {
    width: 80%;
  }
  &--preview {
    padding: 1rem;

    &:hover {
      background-color: #dfdfdf;
    }
  }
  &--user {
    display: flex;
    margin-bottom: 1rem;
  }
  &--names {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &--expanded {
    height: calc(100% - 10rem);
    width: 100%;
    padding: 1rem;
    border: 1px solid #336699;
    border-radius: 0.5rem;
    overflow-y: auto;
  }
  &--listing {
    height: 100.6%;
    width: 37.5%;
    background-color: #fff;
    border-width: 0 0.5rem 0.5rem 0.5rem;
    border: solid #336699;
    overflow-y: auto;
  }
  &--text {
    margin-bottom: 1rem;

    &--bold {
      font-weight: bold;
    }
  }
  &--update {
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    border: none;
    border-radius: 0.5rem;

    :active {
      border: none;
    }
  }
  &--sort {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    height: auto;
    width: 20%;
    margin-left: 80%;

    button {
      height: 3rem;
      padding: 0 1rem;
      border: none;
      border-radius: 0;
      text-align: left;
      background-color: #FFF;

      :active {
        border: none;
      }
      &:hover {
        background-color: #dfdfdf;
      }
    }
  }
}

.graph {
  height: 90%;

  &--buttons {
    display: flex;
    margin: 0 0 2.5% 0;
    height: 5%;
    width: 100%;

    button {
      height: 100%;
      width: 25%;
      color: #336699;
      text-decoration: underline;
      background-color: #FFF;
      border: none;

      :active {
        border: none;
      }

      &:hover {
        background-color: #dfdfdf;
      }
    }
  }
}