@import './scss/global.scss';

.oAuthLogin {
  padding: 0.25rem 1rem;
  color: rgba(0,0,0,0);
  background-color: #336699;
  transition: all 500ms linear;
  &:hover {
    color: #336699;
    background-color: #FFF;
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    
    &::after {
      content: "STUFF";
      color: rgba(255,255,255,1);
    }
  }

}

.sort {

  &--button {
    background-color: #336699;
    color: #FFF;
    border: none;
    padding: 0 2%;

    &:focus {
      outline: 0;
    }
  }
}

.user {

  &--image {
    border-radius: 50rem;
  }
}

.tweet {
  margin: 5% 5%;

  &--container {
    display: flex;
    justify-content: space-between;
    flex: 1;
    height: calc(100vh - 4.25rem);
  }
  &--search {
    width: 35%;
    margin-left: 65%;
  }
  &--bar {
    height: 4rem;
    width: 100%;
    padding: 0.5rem 0;
    background-color: #336699;
  }
  &--expanded {
    height: calc(100% - 10rem);
    width: 50%;
    border: 1px solid #336699;
    border-radius: 0.5rem;
  }
  &--listing {
    height: 100%;
    width: 37.5%;
    background-color: #fff;
    border-width: 0 0.5rem 0.5rem 0.5rem;
    border: solid #336699;
  }
  &--text {
    &--bold {
      font-weight: bold;
    }
  }
}